app = "7373-app"
primary_region = 'arn'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '4gb'
  cpu_kind = 'shared'
  cpus = 2
