app = 'n73-app'
primary_region = 'arn'

[[mounts]]
  source = "go_data"      
  destination = "/data"   

[build]
  [build.args]
    GO_VERSION = '1.25.4'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
