[Unit]
Description=ai

[Service]
Environment=DB_USER=postgres
Environment=DB_PASSWORD=secret
Environment=DB_HOST=localhost
Environment=DB_NAME=mydb
Environment=DB_PORT=5432
Environment=ANTHROPIC_API_KEY=your_anthropic_api_key
Environment=EMAIL_SECRET=your_secret_email_pass
Environment=PORT=42069
Environment=ROOT_PATH=/path/to/project
Environment=SECRET_KEY=long-string

Type=simple
Restart=always
RestartSec=5s
ExecStart=/path/to/project-bin

[Install]
WantedBy=multi-user.target
